/* 
######## SELECTORES #########
*/

/* SELECTOR UNIVERSAL */

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

/* selector de etiqueta */

/* seletor de id */

/* selector de clase */

/* selector de atributo */
